/* layout */
/* line 2, ../sass/main.scss */
body {
  background: #323949;
}

/* line 6, ../sass/main.scss */
.snap-drawer {
  padding: 15px;
  background: #323949;
  color: #fff;
}

/* line 12, ../sass/main.scss */
.snap-content {
  background: #fff;
}

/* line 16, ../sass/main.scss */
#toolbar {
  width: 100%;
  height: 40px;
  padding: 10px 0;
  background: #536ea7;
  border-bottom: 1px solid #111b32;
  color: #fff;
}
/* line 23, ../sass/main.scss */
#toolbar h1 {
  margin: 0 0 0 15px;
  font-size: 18px;
  float: left;
}
/* line 28, ../sass/main.scss */
#toolbar div[snap-toggle] {
  margin: 0 0 0 15px;
  cursor: pointer;
  float: left;
}
/* line 33, ../sass/main.scss */
#toolbar .tools {
  float: right;
  margin: 0 10px 0 0;
}
/* line 36, ../sass/main.scss */
#toolbar .tools a {
  color: #fff;
  margin-left: 10px;
}

/* line 43, ../sass/main.scss */
#ms-container {
  padding: 15px;
}
