<div>
  <div snap-drawer>
    <ul class="list-unstyled">
      <li>
        <h4>+ My Are2a</h4>
        <ul>
          <li>Level : loyal</li>
          <li>Q : 3, A : 2</li>
          <li>
            <h5>Following</h5>
            <ul class="list-unstyled">
              <li>Youngsik (3)</li>
              <li>Gyuwon (2)</li>
              <li>...</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h4>+ Concern Area</h4>
        <ul>
          <li><a href="">Angular.js</a></li>
          <li><a href="">Node.js</a></li>
          <li><a href="">MongoDB</a></li>
          <li><a href="">Express.js</a></li>
        </ul>
      </li>
      <li>
        <h4>+ Guru Guru</h4>
        <ul>
          <li>Youngsik 1230</li>
          <li>Kanghun 890</li>
        </ul>
      </li>
    </ul>
  </div>
  <div snap-content>
    <div id="toolbar">
      <div snap-toggle="left"><i class="fa fa-bars"></i></div>
      <h1>Tech Planet</h1>
      <div class="tools">
        <a href="">Message(4)</a>
        <a href="">Logout</a>
      </div>
    </div>
    <div ng-transclude></div>
  </div>
</div>